td.title {
    background-color: "#dddddd";
    align: "center";
    font-size: 14pt;
    padding: 5px;
}
td.ordinary {
    background-color: "#eeeeff";
    align: "center";
    font-size: 14pt;
    padding: 5px;
}
.card-body p{
    margin: 0;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
   }
h4 {
    color: #cccccc;
    padding: 20px;
}
p {
    font-size: 14pt;
}

a.href{
  color: #011 !important;
  text-decoration: none
}

.row {
    display:inline-block;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
}

.noaction {
    opacity: 0.3;
}
